body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #3F8EAF;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.logo {
  color: #d4f028 !important;
  font-weight: bold;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.contact-content {
  color: #d4f028;
  padding: .2em;
}

.contact-content a {
  color: #d4f028;
}

.hero {
  background: #4298BD;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero .contact-hero {
  font-size: 1.5ch;
  font-family: "Poppins", sans-serif;
  background-color: #1A667E;
  color: #d4f028 !important;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

section {
  padding: 4em 2em;
  text-align: center;
  margin: 1em;
}

.right {
  border-radius: 1.5em;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #3F8EAF;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #d4f028;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100px;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 100px;
}

.skills-container ul li .icon-container.two {
  width: 75px;
}

.skills-container ul li .icon-container.three {
  width: 80px;
}

.skill-title {
  font-weight: bold;
}

.portfolio {
  background: #f0efed;
}

.portfolio-container {
  padding: 1em;
  margin-bottom: 1em;
}

.portfolio-container a img {
  border-radius: 1em;
}

.contact {
  color: white;
  background: #4298BD;
}

.resume {
  color: #d4f028;
}

.social-contact {
  margin-left: 2em;
  margin-top: 1em;
  padding: 1em;
  display: block;
  place-content: center;
}

.social-contact a {
  color: white;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: .5em;
  }
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -7em;
    margin-bottom: -7em;
    padding-top: 5em;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 5em;
    margin-bottom: 5em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .contact {
    margin-top: -7em;
  }
  .social-contact {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 80vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #3F8EAF;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 12em;
    float: right;
  }
  .social-header ul img {
    width: 25px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #4298BD;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 2em;
    line-height: 1.5em;
  }
  .hero .content h2 {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .hero .content .contact-content {
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
  .featured img {
    float: right;
    max-width: 500px;
    margin-left: 10em;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
  .featured img {
    float: right;
    max-width: 500px;
    margin-left: 17em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
  .featured img {
    float: right;
    max-width: 500px;
    margin-left: 20em;
  }
}
/*# sourceMappingURL=main.css.map */